<section id="opening-time-section">
  <h4><%= t(".title", name: @shop.name) %></h4>
  <% Day.week_day_names(from: Time.zone.now.wday).each do |day_name| %>
    <p class="day-openings" id="<%= "#{day_name}-openings-block" %>">
      <%= t(day_name).capitalize %> :
      <% day_openings = @shop.openings.select(&"on_#{day_name}".to_sym) %>
      <% if day_openings.empty? %>
        <%= t(".closed") %>
      <% else %>
        <%= day_openings.map(&:display_opening_time).join(", ") %>
      <% end %>
    </p>
  <% end %>
</section>
